#module-portfolio hr {
	margin: 10px 0;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

.work-portfolio.work-several h2,
.work-portfolio.work-several .more {
	margin: 0;
}

.work-portfolio.work-several .content {
	padding: 0 0.5em 0 0.5em;
}

.work-portfolio.work-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

.fa-pagebreak:before { content: "\f0f6"; }

/* --- thumbnails --- */
.carousel-thumbnail,
.suggested-thumbnail,
.navigation-link-thumbnail { max-width: 150px;}

['navigation-link-'] a {text-decoration: none;}

.navigation-link-previous {float: left;}
.navigation-link-next {float: right;}
