

.radio-button {
    display: block;
    padding: 10px 10px 10px 20px;
    position: relative;
}

.radio-button:before {
    font-family: fontawesome;
    position: absolute;
    top: 5px;
    left: 10px;
    content: '\f01d';
    font-size: 2em;
}

.radio-popup {
    padding: 20px;
}

.radio-mini audio,
.radio-popup audio  {
    width: 100%;
}

.radio-popup img {
    margin: auto
}
