.root-desc {
	margin-bottom: 2.618em;
}

.staff-picture {
	display: block;
	padding-bottom: 10px;
}

.staff-reorder-form { width: 100%; }

/* --- Table
-------------------------------------  */
.ul-table,
.ul-table ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul .ul-table {font-size:0.9em;}

ul .ul-table H2 {font-size:1.6em;}

ul .ul-table .li-table {font-size:1.4rem;}

.ul-table > li {
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #ddd;
}

.has-sub-cat .ul-table {
	padding: 0 0 0 15px;
}

.ul-table > li {
	padding: 5px 0;
}

.ul-table > li:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

.ul-table h2 { padding-left: 20px;}

.li-table { padding: 0.618em; }
.adherent-name { text-transform: uppercase; }
.li-avatar { width: 100px; }
.li-avatar + .li-infos { width: calc(100% - 100px); }

[class*=adherent-table] li,
.li-title,
.li-infos,
.li-options {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.li-infos,
.li-options {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.li-phone {
	cursor: pointer;
}

@media (min-width: 769px) {
	.li-avatar { width: 40px; padding: 0.1618em; }
	.li-avatar + .li-infos { width: calc(100% - 40px); }
	.li-leader { width: 20px; text-align: center; }

	.li-title { width: 50%; }
	.li-options { width: 50%; }
	.li-role { width: 50%; }
	.li-phone { width: 50%; text-align: right;}
	.moderate { width: 40px; }
	.li-options.moderator {width: calc(50% - 40px); }

	[class*=adherent-table] li,
	.li-infos,
	.li-title,
	.li-options {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	}
}

/* Accordeon menu*/
.has-adherent {
	position: relative;
	cursor: pointer;
	font-size: 0.9em;
	float: right;
}

.has-adherent:before {
	position: absolute;
	font-family: fontawesome;
	font-size: 1.6em;
	content: '\f107';
	top: 0;
	right: 0.309em;
	padding: 0 0.618em;
	height: 30px;
	cursor: pointer;
}

.is-opened-list.has-adherent:before {
	content: '\f106';
}

[class*="adherent-table"] {
	opacity: 0;
	visibility: hidden;
	height: 0;
	transition: all 0.3s;
	transition: height 0.3s ease 0.3s, opacity 0.3s ease;
}

[class*="adherent-table"].show-table {
	opacity: 1;
	visibility: visible;
	height: 100%;
	transition: height 0.3s ease, opacity 0.3s ease 0.3s;
	background-color: rgba(0, 0, 0, 0.05);
}

[class*="adherent-table"] li:not(:last-child) {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #DDDDDD;
}

.expand-all {
	cursor: pointer;
	display: none;
}

.expand-all.expand {
	display: inline-block;
}

/* --- Blocks
---------------- */

/* --- Email
---------------- */
.adherent-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1.618em 0.618em;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	overflow-y: auto;
}

.adherent-modal:target {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
	z-index: 10;
}

.email-form {
	padding: 1.618em;
	background-color: #FFFFFF;
	overflow-y: auto;
}

.modal-close {
	position: absolute;
	top: 0.618em;
	right: 0.618em;
	text-align: right;
	background-color: #FFFFFF;
	padding: 0.618em;
	border: 2px solid #CC0000;
	border-radius: 100%;
}

@media (min-width: 769px) {
	.email-form {
		width: 75%;
		margin: auto;
	}

	.email-form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
