@media (min-width: 769px) {
    #AdminSingleMenuConfigController_link_data_field input {
        width: 48%;
        margin-bottom: 5px;
    }

    #AdminSingleMenuConfigController_link_data_field input[name*="field_fa_link"] {
        width: 30%;
    }

    #AdminSingleMenuConfigController_link_data_field input[name*="field_img_link"] {
        width: 56%;
    }
}

.form-element div[id*=AdminSingleMenuConfigController_link_data_] {
    border-bottom: 1px dotted;
    padding-bottom: 0.809em;
    margin-bottom: 0.809em;
}

#cssmenu-single-menu {
    overflow: hidden;
}

.sgm-admin {
    float: right;
    font-size: 0.8em;
}
