/*
* Surchargez ce fichier dans votre thème pour personnaliser le module
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#module-pbtdoc hr {
	margin-top: 0.618em;
}

table .subcat-title {
    display: inline-block;
}

table .subcat-title + em {
	font-size: 0.8em;
}

.pages-pagination {
	float: right;
	width: 38%;
	margin-bottom: 0.618em;
}

.course-pbtdoc.course-several h2,
.course-pbtdoc.course-several .more {
	margin: 0;
}

.course-pbtdoc.course-several img {
	padding: 0 0 0.618em 0;
}

span.contents + hr {
	margin: 2.618em 0 1.482em 0;
	clear: both;
}

/* --- pagebreak --- */
.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 1.618em;
}

.fa-pagebreak:before { content: "\f477"; }

/* --- pages menu --- */
.pages-menu .horizontal-fieldset {
	margin-top: 0;
}
.pages-menu ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pages-menu .horizontal-fieldset-desc {
	display: block;
}

.pages-menu li a {
	padding: 0.618em;
}
/* --- Reorder --- */
.pbtdoc-reorder-form { width: 100%; }
