.partner-filter {
	border: 1px solid #cc0000;
	background-color: transparent;
	padding: 3px 2px;
	font-size: 0.8em;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(35,35,40,0.8);
}

.shutter-lock {
	transform: translateZ(0);
	position: relative;
}

.shutter-lock:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background: #00cccc;
	-webkit-transition : all 0.5s ease-in-out;
	transition : all 0.5s ease-in-out;
	z-index: -1;
}

.shutter-lock:hover:after {
	width: 100%;
}

.title {
	text-transform: uppercase;
}
.title strong{
	font-weight: 900;
}
.slider-btn{
	font-weight: 700;
}
.parallax{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -999;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*
====================================================
				6.Portfolio
====================================================
*/

.active-work {
	background-color: #CC0000;
}
.work{
	/*padding: 80px 0px;*/
}
.work-title{
	padding-bottom: 30px;
	text-align: center;
}
.portfolio-controllers-container{
	margin-bottom: 30px;
	text-align: center;
}
.portfolio-controllers{
	padding: 0px;
	height: 100%;
	display: inline-block;
}
.portfolio-controllers .submit{
	float: left;
	padding: 2px 5px;
	font-size: 0.8em;
	outline: 0px;
	margin: 0px 5px 0px 0px;
	-webkit-transition : all 0.3s ease;
	transition : all 0.3s ease;
	cursor: pointer;
}
.more-container{
	margin-top: 40px;
}
.portfolio{
	padding: 14px 7px;
}
.portfolio-image{
	position: relative;
	overflow: hidden;
}
.portfolio-image img{
	/*width: 100%;
	height: 100%;*/
	transform : scale(1);
	-webkit-transition : all 0.5s ease;
	transition : all 0.5s ease;
	position: relative;
}
.portfolio-image:hover img{
	transform : scale(1.2);
}
.portfolio-image::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*background-color: rgba(34,35,40,0.5);*/
}
.work .caption{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transform : scale(1.2);
	-webkit-transition : all 0.5s ease;
	transition : all 0.5s ease;
	padding: 10px;
	z-index: 999;
}
.caption-content{
	width: 100%;
	height: 100%;
	position: relative;
}
.caption-content h3,
.caption-content a {
	color: #FFFFFF;
	padding: 0 5px;
}

.caption-content a {
	background-color: #353535
}

.caption-content a:hover {
	color: #353535;
	background-color : #FFFFFF;
}
.portfolio-image:hover .caption{
	opacity: 1;
	transform : scale(1);
}
.caption-content{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color : rgba(54, 100, 147, 0.5);
	position: relative;
}
.portfolio-link{
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	margin: 0;
	list-style-type: none;
}
.portfolio-link li{
	display: block;
	padding: 5px 0;
	width: 100%;
	text-align: center;
}
.portfolio-item-title{
	width: 90%;
	overflow: hidden;
    font-size: 18px;
   	position: absolute;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
}
.portfolio-item-title:after{
	position: absolute;
    bottom: 0;
    left: 35%;
    content: '';
    width: 30%;
    height: 2px;
}

.footer-bottom p{
	text-align: center;
}

/*Xtra Large*/
@media (min-width: 1200px){}
/*Medium Device*/
@media(min-width:992px){}
/*Small Device*/
@media(min-width:768px){}
/*Xtra Small Device*/
@media(max-width:767px){

	.portfolio-controllers .submit{
		margin-bottom: 15px;
		padding: 10px 12px;
		margin-left: 10px;
	}
}
